on:
  issues:
    types: [opened]
jobs:
  blacklist:
    permissions: write-all
    env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: 'main'
    runs-on: ubuntu-latest
    steps:
      - if: github.actor == 'MatthewaMorgan'
        name: Close Issue
        uses: peter-evans/close-issue@v2
        with:
          comment: |
           You have been blacklisted from submitting issues.
           Reason: Disregarding posted warnings regarding livery submissions.
